


/*The designs were created to the following widths:
- Mobile: 375px
- Desktop: 1440px

*/





/*====RESET=======*/

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

img {
    width: 100%;
    height: auto;
}




/*====VARIABLES=======*/
:root {


   /* fonts */
   font-family: 'Red Hat Display', sans-serif;

}


/*====BASE=======*/

body {
  font: 500 'Red Hat Display', sans-serif ;
   background-color: #D6E1FF;
  
}

a {
  color: hsl(228, 45%, 44%); 
  font-weight: 500;
}

a:hover {
  color: hsl(228, 45%, 52%); 

}

.attribution a {
  color: hsl(228, 45%, 44%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}

 /*====LAYOUT=======*/

 #container { 
     box-shadow: 7px 7px 13px 0px rgba(50, 50, 50, 0.22);


    margin: 4.43rem 1.5rem 4.43rem 1.5rem;

     display: grid; 

     border-radius: 1rem;
     background: white;
     height: fit-content;

 }

 #content {
   padding-right: 2rem;
   padding-left: 2rem;
   display: flexbox;
 }

 #header {
   height: 10rem;
   margin-bottom: 3.375rem ;
   width: auto;
 }

 #header img.img-header{
  height: 10rem;



 }

 .img-header {
  border-radius: 1rem 1rem 0 0;
}

#content {
  height: fit-content;
  margin-bottom: 1rem;
}

 /*====DIV TEXT=======*/

 .text {
  
  padding: 2rem;
  align-content: center;
  text-align: center;
  margin-bottom: 1rem;


 
 }


h1.title {
  color: hsl(229, 68%, 31%);
  margin-bottom: 1.5rem;
 }

 p.subtitle {
  color:hsla(226, 75%, 24%, 0.61);
 }

/*====BOX ANNUAL PLAN=======*/
.box-anual-plan {
  display: grid;
  grid-auto-flow: column;

  gap: 1rem;

 margin-bottom: 2rem;
align-items: center;

justify-content: center;
}

.box-anual-plan a.change {

  font-size: 0.85rem;
  color: blue;

  font-weight: 700;
 
}

.box-anual-plan a.change:hover {
  color: rgba(20, 20, 248, 0.651);

}

.box-anual-plan img {
  width: 3rem;
  height: 3rem;
}

/*Annual value*/

.annual-value {
  padding: 1.5rem;
  display: flexbox;
    margin-left: rem;


}

.box-anual-plan p {
  font-weight: 600;
}

.box-anual-plan p.value {
font-weight: normal;
color:hsla(226, 75%, 24%, 0.61);;
}



/*==== BUTTONS =======*/
.buttons {
  align-content: center;
  text-align: center;
  display: grid;
  grid-auto-flow: row;
 
}


.buttons a {
  align-items: center;
  text-decoration: none;
  text-align: center;
  padding: 1rem;
  border-radius: .75rem;  
}

.buttons a.button-payment {
background-color: hsl(229, 68%, 31%) ;
color: white;
margin-bottom: 0.5rem;

}

.buttons a.button-payment:hover {
  background-color: hsla(253, 68%, 41%, 0.705) ;
  box-shadow: inset 0 0 0.2em hsla(271, 77%, 51%, 0.521), 0 0 0.2em hsla(271, 77%, 51%, 0.486);

  

}

.buttons a.button-cancel{
  color: hsla(229, 68%, 31%, 0.651) ;
  background-color: rgb(255, 255, 255);
  font-weight: 700;
  margin-bottom: .5rem;
}

.buttons a.button-cancel:hover {
  color: hsla(229, 84%, 5%, 0.877);

}

/*==== FOOTER =======*/

footer{
  margin-bottom: 1rem;
}



























 